.place__image {
	margin: 0;
	padding: 0;
	width: clamp(440px, 100%, 460px);
	height: auto;
}

@media screen and (max-width: 1024px) {
	.place__image {
		width: clamp(340px, 100%, 440px);
	}
}

@media screen and (max-width: 768px) {
	.place__image {
		width: clamp(340px, 100%, 100%);
	}
}

@media screen and (max-width: 320px) {
	.place__image {
		width: 100%;
		object-fit: cover;
	}
}
