.lead__image {
	margin: 64px auto 0;
	padding: 0;
	width: 100%;
	height: auto;
}


@media screen and (max-width: 1024px) {
	.lead__image {
		margin: 56px auto 0;
	}
}

@media screen and (max-width: 320px) {
	.lead__image {
		margin: 40px auto 0;
	}
}

