.lead {
  width: clamp(calc(1024px - 48*2px), calc(100% - 148*2px), calc(1280px - 148*2px));
  margin: 56px auto 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: clamp(720px, calc(100% - 48*2px), calc(1024px - 48*2px));
    margin: 48px auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
  }
}
