.header {
	margin: 0 auto;
	padding: 0;
	width: clamp(calc(1024px - 48*2px), calc(100% - 48*2px), calc(1280px - 48*2px));
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	margin-top: 28px;
}

@media screen and (max-width: 1024px) {
	.header {
		width: clamp(calc(768px - 24*2px), calc(100% - 24*2px), calc(1024px - 48*2px));
	}
}

@media screen and (max-width: 768px) {
	.header {
		width: clamp(calc(320px - 16*2px), calc(100% - 16*2px), calc(768px - 24*2px));
	}
}

@media screen and (max-width: 320px) {
	.header {
		width: calc(320px - 16*2px);
		margin-top: 16px;
	}
}
